__pycache__/
*.py[cod]
*$py.class
.env
.env.local
.env.production
venv/
node_modules/
dist/
.DS_Store
Datasets/
static/uploads/
*.db
*.sqlite3
.venv/
server/.venv/
client/node_modules/
server/static/uploads/
*.log
.vscode/
server/mqtt_data/
